APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

DB_CONNECTION=mongodb
DB_URI="mongodb://10.174.236.252:27017"
DB_DATABASE=gestion_documental

DB_SQLITE_DATABASE=/var/www/html/database/database.sqlite

SESSION_DRIVER=database
SESSION_CONNECTION=sqlite
SESSION_TABLE=sessions

CACHE_STORE=database
DB_CACHE_CONNECTION=sqlite
DB_CACHE_TABLE=cache

QUEUE_CONNECTION=database
DB_QUEUE_CONNECTION=sqlite
DB_QUEUE_TABLE=jobs

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local